<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">


    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

</head>
<body>
<nav class="navbar-container">
    <ul class="nav navbar">
        <li class="nav-item active"><a href="/login">HOME</a></li>
        {% if 'username' in session %}
        <li class="nav-item"><a href="/login">{{ session['username'] }}</a></li>
        {% else %}
        <li class="nav-item"><a href="/login">LOGIN</a></li>
        {% endif %}

        {% if 'username' in session %}
        <li class="nav-item"><a href="/logout">LOGOUT</a></li>
        {% else %}
        <li class="nav-item"><a href="/login">REGISTER</a></li>
        {% endif %}


    </ul>
</nav>


<div>
    <button class="btnbtn"><a class="reg-login-btn" href="/registration">Registration</a></button>
    {% if 'username' in session %}
    <button class="btnbtn"><a class="reg-login-btn" href="/logout">Logout</a></button>
    <span class="session-username">Logged in as {{ session['username'] }}</span>
    {% else %}
    <button class="btnbtn"><a class="reg-login-btn" href="/login">Login</a></button>
    {% endif %}
</div>

<h1>PROMAN</h1>
<div id="boards">Boards are loading...</div>
<div class="message-container"></div>
</body>
</html>